body {
    background-color: #0077cc;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #005fa3;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.main-content, section, aside {
    margin: 20px;
    padding: 20px;
    background-color: #3399ff;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    color: black;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

footer {
    background-color: #005fa3;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.product-item img {
    width: 200px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto;
}

/* Collapsible container */
.collapsible {
    border: none;
    box-shadow: none;
  }
  
  /* Collapsible header style */
  .collapsible-header {
    background-color: #2018f9;
    color: #ffffff;
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 6px;
    padding: 15px;
    transition: background-color 0.3s ease;
  }
  
  .collapsible-header i {
    color: #ffffff; /* soft pink accent */
    margin-right: 10px;
  }
  
  .collapsible-header:hover {
    background-color: #eaeaea;
    cursor: pointer;
  }
  
  /* Collapsible body */
  .collapsible-body {
    background-color: #346bec;
    padding: 15px 20px;
    border-radius: 0 0 8px 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-top: none;
    color: #555;
  }
  .submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
  }
  
  .submit-btn:hover {
    background-color: #45a049;
  }
  .header-container {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .navbar {
    margin-top: 10px;
  }
  
  .navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  